#map { height: 500px;
  width: 100%;
 }
.leaflet-control-layers-base::before {
  content: "Levels";
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: "On this level";
  font-weight: bold;
}
