#map { height: 600px;
  width: 100%;
  background-color: #ffffff;
  border:1px solid #cccccc;
 }
.leaflet-control-layers-base::before {
  content: "Levels";
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: "On this level";
  font-weight: bold;
}

.leaflet-bottom.leaflet-left {
  height:80%;
}
